/* ------------------------------ variables ---------------------------------------- */

:root {
  --color-fuente-header: #ecf0f1;
  --color-fondo-header: #2ECC71;

  --color-fondo-noticia: rgba(189, 195, 199,0.5);
  --color-fechas-blog: rgba(127, 140, 141,1.0);

  --color-fondo-actualizaciones: rgba(214, 212, 212, 0.582);
}

/* -------------------------- css basico de la pagina-------------------------------*/
html {
  font-family: 'Inter', sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
}

/*------------------ Aquí va todo lo que tenga que ver con css grid -------------------- */
#header {
  display: grid;
  grid-template-columns: 30% 70%;
}

.center {
  display: grid;
  grid-template-columns: 75% 25%;
}

.header_background {
  display: block;
  margin: 0px;
  padding: 10px;
  background-color: var(--color-fondo-header);
}

.footer_grid {
  display: grid;
  background-color: var(--color-fondo-header);
}

/* -------------------------------- Barra superior --------------------------------------- */

#logo {
  font-size: 190%;
  font-weight: bold;
  color: var(--color-fuente-header);
}

#menu {
  list-style: none;
  padding: 0%;
  text-align: right;
  margin: 0%;
  font-weight: bold;
}

#menu li{
  display: inline-block;
  margin-top: 1.2%;
  margin-right: 1%;
}

a:hover {
  color: #c7ecee;
}

li a {
  text-decoration: none;
  color: var(--color-fuente-header);
}

/* ------------------------------------------ Centro --------------------------------------- */

/* ---- blog ---- */

h1 {
  font-weight: bold;
  margin: 2%;
}

#titulo_de_noticia {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: bold;
}

#bloque_de_noticia {
  background-color: var(--color-fondo-noticia);
  border-radius: 25px;
  margin: 2%;
  display: block;
  padding: 2%;
}

#fechas_blog {
  color: var(--color-fechas-blog);
  font-size: 80%;
}

/* ---- Lateral ----- */

#lateral_general {
  margin: 5% 1% 1% 1%;
  padding: 2%;
  border-left: 1px solid var(--color-fondo-header);
}

#actualizaciones {
  background-color: var(--color-fondo-actualizaciones);
  border-radius: 25px;
  padding: 2%;
  margin-bottom: 3%;
}

#titulo_lateral {
  font-weight: bold;
  margin: 15% 10% 10% 15%;
}

#titulo_lateral a {
  text-decoration: none;
  color: black;
}

#titulo_lateral a:hover {
  color: var(--color-fondo-header);
}

#titulo_de_la_actualizacion {
  font-weight: bold;
  font-size: 110%;
}

#resumen_de_actualizacion {
  font-size: 80%;
}

#fecha_actualizacion {
  color: var(--color-fechas-blog);
  font-size: 80%;
}

/* ------------------------------------------ Footer -------------------------------------------- */

#marca_de_agua {
  text-align: center;
}

/* ------------------------------ Paginas extras ---------------------------------------------*/

/* ------------------------ Actualizaciones ----------------------------------------------- */

#titulo_de_Actualizaciones {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: bold;
}

#bloque_de_Actualizacion {
  background-color: var(--color-fondo-noticia);
  border-radius: 25px;
  margin: 2%;
  display: block;
  padding: 2%;
}

#fechas_Actualización {
  color: var(--color-fechas-blog);
  font-size: 80%;
}